.banner img{
    width: 100%;
}

.banner-content{
    margin-top: 70px;
    align-items: center;
    text-align: center;
    
}

.banner-content h1{
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 20px;
}

.banner-content p{
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
}
