/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #1e2a38, #2c3e50);
    padding: 15px 30px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
    height: 40px;
}

.navbar .content h1 {
    font-size: 20px;
    font-weight: 600;
    margin-left: -200px;
}

.navbar .profile img {
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}